services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: forecasting_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file:
      - core/.env

  db:
    image: pgvector/pgvector:pg17
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - core/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  rabbitmq_data:
    driver: local
  postgres_data:
    driver: local