services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: forecasting_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file:
      - .env

  db:
    image: pgvector/pgvector:pg17
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  rabbitmq_data:
    driver: local
  postgres_data:
    driver: local